@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';
@import "../../../assets/css/default/style.min.css";
@import "../../../assets/css/default/style-responsive.min.css";
@import "../../../assets/css/default/theme/default.css";
@import 'https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.6.1/fullcalendar.min.css';
@import "../../../assets/plugins/animate/animate.min.css";
@import "../../../assets/plugins/jquery-ui/jquery-ui.min.css";
@import '../../../assets/plugins/bootstrap/4.0.0/css/bootstrap.min.css';
@import "../../../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css";
@import "../../../assets/plugins/parsley/src/parsley.css";
/* BASIC */

html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }

  
.spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
  
  