<!-- begin login -->
<div class="login login-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
      <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
      <div class="news-caption">
          <h4 class="caption-title"><b>Color</b> Admin App</h4>
          <p>
              Download the Color Admin app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
      </div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content">
      <!-- begin login-header -->
      <div class="login-header">
          <div class="brand">
            <img src="../../../assets/img/logo/Logo Full.png" style="height: 45px;"> 
            <!-- <span class="logo"></span> <b>Finsell</b> -->
          </div>
          <div class="icon">
              <i class="fa fa-sign-in"></i>
          </div>
      </div>
      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <!-- <form ngNativeValidate #form>
            <div class="form-group">
              <label for="usr">Mobile Number/E-mail:</label>
              <input required (keyup.enter)="onEnteringMobileNo($event);form.checkValidity()?check():fillRequired();" 
              (blur)="onEnteringMobileNo($event);" type="text" class="form-control form-control-lg" id="usr"
               placeholder="Enter Mobile Number">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input required (keyup.enter)="onEnteringPassword($event);form.checkValidity()?check():fillRequired();" 
              (blur)="onEnteringPassword($event);" type="password" class="form-control form-control-lg" id="pwd" placeholder="Enter Password">
            </div>
          </form> -->
          <form ngNativeValidate #form  class="margin-bottom-0">
              <div class="form-group m-b-15">
                  
              <input required (keyup.enter)="onEnteringMobileNo($event);form.checkValidity()?check():fillRequired();" 
              (blur)="onEnteringMobileNo($event);" type="text" class="form-control form-control-lg" id="usr"
               placeholder="Enter Mobile Number">
                  <!-- <input type="text" class="form-control form-control-lg" placeholder="Email Address" required /> -->
              </div>
              <div class="form-group m-b-15">
                <input required (keyup.enter)="onEnteringPassword($event);form.checkValidity()?check():fillRequired();" 
                (blur)="onEnteringPassword($event);" type="password" class="form-control form-control-lg" id="pwd" placeholder="Password">
                  <!-- <input type="password" class="form-control form-control-lg" placeholder="Password" required /> -->
              </div>
              <div class="checkbox checkbox-css m-b-30">
                <input type="checkbox" id="remember_me_checkbox" value="" />
                <label for="remember_me_checkbox">
                  Remember Me
                </label>
              </div>
              <div class="login-buttons">
                  <button type="submit" class="btn btn-success btn-block btn-lg" (click)="form.checkValidity()?check():fillRequired()">Sign me in</button>
              </div>
              <br/>
    <!-- Remind Passowrd -->
    <div *ngIf="isValid" ><font color="red">{{errorMessage}}</font></div>
    <div *ngIf="isRequired"><font color="red">Please fill the required fields!
    </font></div>
              <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                  Not a member yet? Click <a routerLink="/register/v3" class="text-success">here</a> to register.
              </div>
              <hr />
              <p class="text-center text-grey-darker">
                  &copy; Color Admin All Right Reserved 2018
              </p>  
          </form>
      </div>
      <!-- end login-content -->
  </div>
  <!-- end right-container -->
</div>
<!-- end login -->
