

<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed show" [ngClass]="{
    'has-scroll' : pageHasScroll,
    'page-sidebar-minified': pageSettings.pageSidebarMinified,
    'page-with-footer': pageSettings.pageWithFooter,
    'page-content-full-height': pageSettings.pageContentFullHeight,
    'page-without-sidebar': pageSettings.pageWithoutSidebar,
    'page-with-right-sidebar': pageSettings.pageSidebarRight,
    'page-with-two-sidebar': pageSettings.pageSidebarTwo,
    'page-with-wide-sidebar': pageSettings.pageSidebarWide,
    'page-right-sidebar-collapsed': pageSettings.pageSidebarRightCollapsed,
    'page-with-light-sidebar': pageSettings.pageSidebarLight,
    'page-with-top-menu': pageSettings.pageTopMenu,
    'page-sidebar-toggled': pageSettings.pageMobileSidebarToggled,
    'page-right-sidebar-toggled': pageSettings.pageMobileRightSidebarToggled,
    'p-0': pageSettings.pageEmpty
  }">

  <top-menu *ngIf="pageSettings.pageTopMenu && !pageSettings.pageEmpty"></top-menu>

  <header (toggleSidebarRightCollapsed)="onToggleSidebarRight($event)" (toggleMobileSidebar)="onToggleMobileSidebar($event)" (toggleMobileRightSidebar)="onToggleMobileRightSidebar($event)" [pageSidebarTwo]="pageSettings.pageSidebarTwo" *ngIf="!pageSettings.pageEmpty"></header>

  <sidebar (toggleSidebarMinified)="onToggleSidebarMinified($event)" (hideMobileSidebar)="onHideMobileSidebar($event)" *ngIf="!pageSettings.pageWithoutSidebar && !pageSettings.pageEmpty" [pageSidebarTransparent]="pageSettings.pageSidebarTransparent"></sidebar>


  <div id="content" class="content" [ngClass]="{
    'content-full-width': pageSettings.pageContentFullWidth,
    'content-inverse-mode': pageSettings.pageContentInverseMode,
    'p-0 m-0': pageSettings.pageEmpty
  }" style="background: #d9e0e7;">
  <div class="" [hidden]="tableflag == true">

    <div class="row">
      <!-- begin col-6 -->
      <div class="col-lg-6">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Policy Holder Details</a>
            <ng-template ngbNavContent>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Policy Details</a>
            <ng-template ngbNavContent>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Final</a>
            <ng-template ngbNavContent>
            </ng-template>
          </li>
        </ul>
        <div style="padding: 25px;background: white;border-left: 1px solid #bab2b2;border-right: 1px solid #bab2b2;border-bottom: 1px solid #bab2b2;"  [hidden]="active != 1">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm" ngNativeValidate> 
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" for="firstName">First Name*</label>
              <div class="col-md-8">
                  <input type="text"   id="firstName" name="firstName" class="form-control" placeholder="Enter First Name"  maxlength="50" pattern="[A-Za-z]+" required style="height: 38px;" (keyup.enter)="fName($event);" 
                  (blur)="fName($event);"/>
              </div>
          </div>
          <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4">Last Name*</label>
              <div class="col-md-8">
                  <input type="text"  (blur)="lName($event);" (keyup.enter)="lName($event);"  name="lastName" class="form-control m-b-5" placeholder="Enter Last Name" 
                  required maxlength="50" pattern="[A-Za-z]+" style="height: 38px;"/>
              </div>
          </div>

          
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-4">Date of Birth*</label>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control"  placeholder="yyyy-mm-dd"
                       name="dob"  ngbDatepicker #d2="ngbDatepicker" style="height: 38px;" required (blur)="dob($event);" (keyup.enter)="dob($event);">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>

        
        <div class="form-group row m-b-15">
          <label class="col-form-label col-md-4">Home NickName</label>
          <div class="col-md-8">
              <input type="text"  name="nickName" class="form-control m-b-5" placeholder="Home NickName" 
               pattern="[A-Za-z]+" maxlength="50" style="height: 38px;" (keyup.enter)="nickName($event);" (blur)="nickName($event);"/>
          </div>
      </div>

      <div class="form-group row m-b-15">
        <label class="col-form-label col-md-4">Relation with user</label>
        <div class="col-md-8">
          <select name="lastName"  class="form-control m-b-5" required style="height: 38px;" 
          (change)="onRelation($event)">
          <option selected disabled value="">Search..</option>
          <option *ngFor="let relation of relationList" [value]="relation">{{relation}}</option>
          </select>
        </div>
    </div>
          
            <div class="col-sm-12" align="center">
              <button type="submit"
              class="btn btn-success btn-block btn-lg">Next</button> 
          </div>
          </form>
        </div>

        <div style="padding: 25px;background: white; border-left: 1px solid #bab2b2;border-right: 1px solid #bab2b2;border-bottom: 1px solid #bab2b2;"  [hidden]="active != 2">
          <form #f="ngForm" (ngSubmit)="onSubmit1(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm1" ngNativeValidate> 
            <div class="form-group row m-b-15" *ngIf="flagforTravel == true">
              <label class="col-form-label col-md-4" for="noOfPeople">Number of People Covered</label>
              <div class="col-md-8">
                  <input type="number"   id="noOfPeople" name="noOfPeople" class="form-control" placeholder="Enter First Name"  max="100000" min= "0" (keyup.enter)="noOfPeopleCovered($event);" (blur)="noOfPeopleCovered($event);"/>
              </div>
          </div>
          <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4">Policy Name*</label>
              <div class="col-md-8">
                  <input type="text"   name="pName" class="form-control m-b-5" placeholder=" Policy Name" 
                  required maxlength="50" pattern="[a-zA-Z0-9{0,} \/_-]+" (keyup.enter)="policyName($event);" (blur)="policyName($event);"/>
              </div>
          </div>
          <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4">Policy Number*</label>
              <div class="col-md-8">
                  <input type="text"   name="pNo" class="form-control m-b-5" placeholder=" Policy Number" 
                  required maxlength="50" pattern="[a-zA-Z0-9\/_ -]+" (blur)="policyNo($event);" (keyup.enter)="policyNo($event);"/>
              </div>
          </div>

          
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-4">Policy Start Date*</label>
            <div class="col-md-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="pStart"  ngbDatepicker #d3="ngbDatepicker" style="height: 38px;" required type="text" (blur)="policyStartDate($event);" (keyup.enter)="policyStartDate($event);">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="d3.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group row m-b-15">
          <label class="col-form-label col-md-4">Policy End Date*</label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control" type="date" placeholder="yyyy-mm-dd"
                     name="pEnd"  ngbDatepicker #d4="ngbDatepicker" style="height: 38px;" required type="text" (blur)="policyEndDate($event);" (keyup.enter)="policyEndDate($event);">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d4.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
      </div>

      
      <div class="form-group row m-b-15">
        <label class="col-form-label col-md-4"> Premium Amount*</label>
        <div class="col-md-8">
            <input type="number"   name="premium" class="form-control m-b-5" placeholder=" Premium Amount" 
            required min="0" maxlength="50" (keyup.enter)="policyPremium($event);"
            (blur)="policyPremium($event);"/>
        </div>
    </div>
    <div class="form-group" *ngIf="isMotor">
      <h3 style="font-size: 20px;
      padding-bottom: 15px;"><u>Vehicle Details</u></h3>
    <div class="form-group row m-b-15">
      <label class="col-form-label col-md-4">Vehicle Brand/Make</label>
      <div class="col-md-8">
        <select name="vBrand" class="form-control m-b-5" style="height: 38px;" 
        (change)="onVehicleBrand($event)">
        <option selected disabled value="">Search..</option>
        <option  *ngFor="let carmaker of carMakers;" [value]="carmaker">{{carmaker}}</option>
        </select>
      </div>
  </div>
    </div>

    <h3 style="font-size: 20px;
    padding-bottom: 15px;"><u>Agent Details</u></h3>

    <div class="form-group row m-b-15">
      <label class="col-form-label col-md-4">Agent Name*</label>
      <div class="col-md-8">
          <input type="text"   name="aName" class="form-control m-b-5" placeholder="Agent Name" 
          required maxlength="50" pattern="[a-zA-Z. ]+" (keyup.enter)="agentName($event);"
          (blur)="agentName($event);"/>
      </div>
  </div>

  
  <div class="form-group row m-b-15">
    <label class="col-form-label col-md-4">Agent Phone Number*</label>
    <div class="col-md-8">
        <input type="text"   name="aNo" class="form-control m-b-5" placeholder="Agent Phone Number" 
        required pattern="[1-9]{1}[0-9]{9}" (keyup.enter)="agentNo($event);"
        (blur)="agentNo($event);"/>
    </div>
</div>
          
            <div class="col-sm-12" align="center">
              <button type="submit"
              class="btn btn-success btn-block btn-lg">Next</button> 
          </div>
          </form>
        </div>

        <div style="padding: 25px;background: white; border-left: 1px solid #bab2b2;border-right: 1px solid #bab2b2;border-bottom: 1px solid #bab2b2;"  [hidden]="active != 3">
          <div [hidden]="flagforTravel != true">
            <form #f="ngForm" (ngSubmit)="onSubmit3(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm2" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Baggage Delay Coverage:</label>
                <div class="col-md-8">
                    <input type="number"  class="form-control m-b-5"  (keyup.enter)="baggageDelay($event);" maxlength="12" min="0"
                    (blur)="baggageDelay($event);" />
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Emergency Medical Evacuation Coverage:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5"  (keyup.enter)="emergencyMedical($event);" maxlength="12" min="0"
                  (blur)="emergencyMedical($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Loss Of Baggage And Belonging Coverage:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="baggageLoss($event);" maxlength="12" min="0"
                  (blur)="baggageLoss($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Overseas Medical Expense Coverage:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="overseasMedical($event);" maxlength="12" min="0"
                  (blur)="overseasMedical($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Death Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="deathSumAssured($event);" maxlength="12" min="0"
                  (blur)="deathSumAssured($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Accidental Death Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="accidentalDeath($event);" maxlength="12" min="0"
                  (blur)="accidentalDeath($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5"  (keyup.enter)="disability($event);" maxlength="12" min="0"
                  (blur)="disability($event);" />
              </div>
            </div>
            
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Travel Delay:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="travelDelay($event);" maxlength="12" min="0"
                  (blur)="travelDelay($event);" />
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div> 
           
          <div [hidden]="flagforTermLife != true">
            <form #f="ngForm" (ngSubmit)="onSubmit8(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm3" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Death Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number"  class="form-control m-b-5" (keyup.enter)="deathSumAssured($event);" maxlength="12" min="0"
                    (blur)="deathSumAssured($event);" />
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Critical illness Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5"  (keyup.enter)="criticalIllness($event);" maxlength="12" min="0"
                  (blur)="criticalIllness($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="disability($event);" maxlength="12" min="0"
                  (blur)="disability($event);"  id="disability" />
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforHome != true">
            <form #f="ngForm" (ngSubmit)="onSubmit10(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm4" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Alternative Accommodation Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number"  class="form-control m-b-5" (keyup.enter)="alternateAccommodation($event);" maxlength="12" min="0"
                    (blur)="alternateAccommodation($event);" />
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Household Content Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="householdContent($event);" maxlength="12" min="0"
                  (blur)="householdContent($event);" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Renovation Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number"  class="form-control m-b-5" (keyup.enter)="renovation($event);" maxlength="12" min="0"
                  (blur)="renovation($event);"  id="disability" />
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforCar != true">
            <form #f="ngForm" (ngSubmit)="onSubmit4(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm5" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4">Vehicle Model*:</label>
                <div class="col-md-8">
                  <select name="lastName11" class="form-control m-b-5" required style="height: 38px;" 
                  (change)="onVehicleModel($event.target.value)">
                  <option selected disabled value="">Search..</option>
                  <option *ngFor="let carmodel of carModels;" [value]="carmodel">{{carmodel}}</option>
                  </select>
                </div>
            </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Registration Year*:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5" placeholder="YYYY" min="1900" max="2022" (keyup.enter)="registrationYear($event);" required
                    (blur)="registrationYear($event);" name="year"/>
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Registration Number*:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="registrationNo($event);" required pattern="^[a-zA-Z0-9{0,} \/-_]+"
                  (blur)="registrationNo($event);" name="yearr" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Excess Amount:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="excessAmount($event);" min="0" 
                  (blur)="excessAmount($event);" name="ea" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Insured Declared Value:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="insuredValue($event);" min="0" required
                  (blur)="insuredValue($event);"  name="idv"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >No claim bonus (%):</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="noClaimBonus($event);" min="0" max="100"
                  (blur)="noClaimBonus($event);" name="ncd"/>
              </div>
            </div>
            
            <div class="form-group row m-b-5">
              <label class="col-form-label col-md-4" >Coverage:</label>
            </div>
            
                    <div class="form-group row m-b-10">
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input type="checkbox" value="" id="checkbox-inline-1" class="form-check-input" (change)="isComprehensive($event)"/>
                                <label class="form-check-label" for="checkbox-inline-1">Comprehensive</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="checkbox" value="" id="checkbox-inline-2" class="form-check-input" (change)="isThirdParty($event)"/>
                                <label class="form-check-label" for="checkbox-inline-2">Third Party</label>
                            </div>
              
                            <div class="form-check form-check-inline">
                                <input type="checkbox" value="" id="checkbox-inline-3" class="form-check-input" (change)="isReplacement($event)"/>
                                <label class="form-check-label" for="checkbox-inline-3">Replacement Cover</label>
                            </div>
                        </div>
                    </div>
            
              <div class="col-sm-12" align="center" style="margin-top: 10px;">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit</button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforTwoWheeler != true">
            <form #f="ngForm" (ngSubmit)="onSubmit5(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm6" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4">Vehicle Model*:</label>
                <div class="col-md-8">
                  <select name="lastName" class="form-control m-b-5" required style="height: 38px;" 
                  (change)="onVehicleModel($event.target.value)">
                  <option selected disabled value="">Search..</option>
                  <option *ngFor="let carmodel of carModels;" [value]="carmodel">{{carmodel}}</option>
                  </select>
                </div>
            </div>
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Registration Year*:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5" placeholder="YYYY" min="1900" max="2022" (keyup.enter)="registrationYear($event);" required
                    (blur)="registrationYear($event);" name="ry"/>
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Registration Number*:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="registrationNo($event);" required pattern="^[a-zA-Z0-9{0,} \/-_]+"
                  (blur)="registrationNo($event);" name="rn"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Excess Amount:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="excessAmount($event);" min="0" 
                  (blur)="excessAmount($event);" name="ea"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Insured Declared Value:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="insuredValue($event);" min="0" required
                  (blur)="insuredValue($event);"  name="idv"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >No claim bonus (%):</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="noClaimBonus($event);" min="0" max="100"
                  (blur)="noClaimBonus($event);" name="ncb"/>
              </div>
            </div>
  
            
            <div class="form-group row m-b-5">
              <label class="col-form-label col-md-4" >Coverage:</label>
            </div>
            <div class="form-group row m-b-10">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input type="checkbox" value="" id="checkbox-inline-1" class="form-check-input" (change)="isComprehensive($event)"/>
                  <label class="form-check-label" for="checkbox-inline-1">Comprehensive</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="checkbox" value="" id="checkbox-inline-2" class="form-check-input" (change)="isThirdParty($event)"/>
                  <label class="form-check-label" for="checkbox-inline-2">Third Party</label>
                </div>
                
                <div class="form-check form-check-inline">
                  <input type="checkbox" value="" id="checkbox-inline-3" class="form-check-input" (change)="isReplacement($event)"/>
                  <label class="form-check-label" for="checkbox-inline-3">Replacement Cover</label>
                </div>
              </div>
            </div>
            
              <div class="col-sm-12" align="center" style="margin-top: 10px;">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforWholeLife != true">
            <form #f="ngForm" (ngSubmit)="onSubmit6(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm7" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Death Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5"   (keyup.enter)="deathSumAssured($event);" maxlength="12" min="0"
                    (blur)="deathSumAssured($event);" name="dsa" />
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Critical illness Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"   (keyup.enter)="criticalIllness($event);" maxlength="12" min="0"
                  (blur)="criticalIllness($event);" name="cisa" />
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="disability($event);" maxlength="12" min="0"
                  (blur)="disability($event);"  id="disability" name="tap" />
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforULIP != true">
            <form #f="ngForm" (ngSubmit)="onSubmit7(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm8" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Death Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5"   (keyup.enter)="deathSumAssured($event);" maxlength="12" min="0"
                    (blur)="deathSumAssured($event);" name="dsa"/>
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Critical illness Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"   (keyup.enter)="criticalIllness($event);" maxlength="12" min="0"
                  (blur)="criticalIllness($event);" name="cisa"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="disability($event);" maxlength="12" min="0"
                  (blur)="disability($event);"  id="disability" name="tap" />
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforPersonalAccident != true">
            <form #f="ngForm" (ngSubmit)="onSubmit9(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm9" ngNativeValidate> 
  
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4">Occupation Class:</label>
                <div class="col-md-8">
                  <select name="lastName" class="form-control m-b-5"  (change)="occupationClass($event.target.value)" 
                  id="occupationClass" required style="height: 38px;">
                  <option selected disabled value="">Search..</option>
                        <option value="Low Risk">Low Risk</option>
                        <option value="High Risk">High Risk</option>
                        <option value="Very High Risk">Very High Risk</option>
                       </select>
                </div>
            </div>
            
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5"   (keyup.enter)="disability($event);" maxlength="12" min="0"
                    (blur)="disability($event);" name="tap"/>
                </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Temporary Total Disablement Benefit (%):</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="temporaryDisablityPercent($event);" maxlength="12" min="0"
                  (blur)="temporaryDisablityPercent($event);"  id="temporaryDisablityPercent" name="tt"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Temporary Total Disablement Benefit term:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="temporaryDisablityTerm($event);" maxlength="12" min="0"
                  (blur)="temporaryDisablityTerm($event);"  name="ttd"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Accidental Hospital Daily Allowance:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="accidentalHospitalAllowance($event);" maxlength="12" min="0"
                  (blur)="accidentalHospitalAllowance($event);" name="ahda"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Accidental Death Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"  (keyup.enter)="accidentalDeath($event);" maxlength="12" min="0"
                  (blur)="accidentalDeath($event);"  name="adsa"/>
              </div>
            </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          
          <div [hidden]="flagforHealth != true">
            <form #f="ngForm" (ngSubmit)="onSubmit11(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm10" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Insured/Coverage amount:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5"   (keyup.enter)="insuredAmount($event);" maxlength="12" min="0"
                    (blur)="insuredAmount($event);" name="ixa"/>
                </div>
            </div>
            
        <div class="form-group row m-b-15">
          <label class="col-form-label col-md-4">Pre-existing disease:</label>
          <div class="col-md-8">
            <select name="lastName1" class="form-control m-b-5" style="height: 38px;" 
            (change)="preExistingDesease($event.target.value)">
            <option selected disabled value="">Search..</option>
            <option value="Covered">Covered</option>
            <option value="Not Covered">Not Covered</option>
          </select>
          </div>
      </div>
  
      
      <div class="form-group row m-b-15">
        <label class="col-form-label col-md-4">Maternity benefits:</label>
        <div class="col-md-8">
          <select name="lastName" class="form-control m-b-5"  style="height: 38px;" 
          (change)="maternityBenefits($event.target.value)">
          <option selected disabled value="">Search..</option>
                            <option value="Covered">Covered</option>
                            <option value="Not Covered">Not Covered</option>
                          </select>
        </div>
    </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforEndowm != true">
            <form #f="ngForm" (ngSubmit)="onSubmit12(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm11" ngNativeValidate> 
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Death Sum Assured:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control m-b-5"   (keyup.enter)="deathSumAssured($event);" maxlength="12" min="0"
                    (blur)="deathSumAssured($event);" name="dsa"/>
                </div>
            </div>
  
            
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-4" >Total And Permanent Disability Sum Assured:</label>
              <div class="col-md-8">
                  <input type="number" class="form-control m-b-5"   (keyup.enter)="disability($event);" maxlength="12" min="0"
                  (blur)="disability($event);" name="tapd"/>
              </div>
          </div>
  
          
          <div class="form-group row m-b-15">
            <label class="col-form-label col-md-4" >Lump sum maturity benefit:</label>
            <div class="col-md-8">
                <input type="number" class="form-control m-b-5"  (keyup.enter)="maturityBenefit($event);" maxlength="12" min="0"
                (blur)="maturityBenefit($event);" required name="lsmb" />
            </div>
        </div>
  
        <div class="form-group row m-b-15">
          <label class="col-form-label col-md-4">Maturity Date:</label>
          <div class="col-md-8">
            <div class="input-group">
              <input class="form-control" class="form-control m-b-5" placeholder="yyyy-mm-dd" ngbDatepicker #d7="ngbDatepicker" style="height: 38px;" (keyup.enter)="maturityDate($event);" 
                     (blur)="maturityDate($event);" name="ma">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d7.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
      </div>
        
      <div class="form-group row m-b-15">
        <label class="col-form-label col-md-4" >Early Critical illness Sum Assured:</label>
        <div class="col-md-8">
            <input type="number"  class="form-control m-b-5"  (keyup.enter)="earlyCriticalIllness($event);" maxlength="12" min="0"
            (blur)="earlyCriticalIllness($event);" name="ecisa"/>
        </div>
    </div>
  
    
    <div class="form-group row m-b-15">
      <label class="col-form-label col-md-4" >Critical illness Sum Assured:</label>
      <div class="col-md-8">
          <input type="text"  class="form-control m-b-5" (keyup.enter)="criticalIllness($event);"
          (blur)="criticalIllness($event);" name="cisa"/>
      </div>
  </div>
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
  
          <div [hidden]="flagforPersonalAccident != true">
            <form #f="ngForm" (ngSubmit)="onSubmit13(f)" data-parsley-validate="true"  class="margin-bottom-0 agentForm12" ngNativeValidate> 
  
  
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4" >Pay out Amount:</label>
                <div class="col-md-8">
                    <input type="number"  class="form-control m-b-5"  (keyup.enter)="payoutAmount($event);" required maxlength="12" min="0"
                    (blur)="payoutAmount($event);"  max="poa"/>
                </div>
            </div>
  
              <div class="form-group row m-b-15">
                <label class="col-form-label col-md-4">Pay out Frequency:</label>
                <div class="col-md-8">
                  <select class="form-control m-b-5"  (change)="payoutFrequency($event.target.value)" required style="height: 38px;" name="pof">
                    <option selected disabled value="">Search..</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Quarterly">Quarterly</option>
                    <option value="Yearly">Yearly</option>
                  </select>
                </div>
            </div>
            
            
              <div class="col-sm-12" align="center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg">Submit
                </button> 
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end col-6 -->
      <!-- begin col-6 -->
      <div class="col-lg-6">
        <!-- begin #accordion -->
        <div class="card-accordion">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel>
              <ng-template ngbPanelTitle style="background: #c1ccd1;">
                <span class="text-inverse" style="font-size: 15px;">Document #1</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div style="height: 550px;">
                  <ngx-image-zoom
  [thumbImage]=urlformodel
  [fullImage]=urlformodel
></ngx-image-zoom>
<pinch-zoom>
<img src="{{urlformodel}}" style="height: 550px;"/> 
</pinch-zoom>
                  <!-- <img src="{{urlformodel}}" style="height: 550px;width: 565px;"> -->
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
        <!-- end #accordion -->
      </div>
      <!-- end col-6 -->
    </div>
  </div>
   
  </div>

</div>



<div *ngIf="loading">
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
</div>
<!-- end #page-container -->
