<ng2-slim-loading-bar [ngClass]="{ 'top': pageSettings.pageEmpty }"></ng2-slim-loading-bar>

<!-- begin #page-container -->
<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed show" [ngClass]="{
    'has-scroll' : pageHasScroll,
    'page-sidebar-minified': pageSettings.pageSidebarMinified,
    'page-with-footer': pageSettings.pageWithFooter,
    'page-content-full-height': pageSettings.pageContentFullHeight,
    'page-without-sidebar': pageSettings.pageWithoutSidebar,
    'page-with-right-sidebar': pageSettings.pageSidebarRight,
    'page-with-two-sidebar': pageSettings.pageSidebarTwo,
    'page-with-wide-sidebar': pageSettings.pageSidebarWide,
    'page-right-sidebar-collapsed': pageSettings.pageSidebarRightCollapsed,
    'page-with-light-sidebar': pageSettings.pageSidebarLight,
    'page-with-top-menu': pageSettings.pageTopMenu,
    'page-sidebar-toggled': pageSettings.pageMobileSidebarToggled,
    'page-right-sidebar-toggled': pageSettings.pageMobileRightSidebarToggled,
    'p-0': pageSettings.pageEmpty
  }">

  <top-menu *ngIf="pageSettings.pageTopMenu && !pageSettings.pageEmpty"></top-menu>

  <header (toggleSidebarRightCollapsed)="onToggleSidebarRight($event)" (toggleMobileSidebar)="onToggleMobileSidebar($event)" (toggleMobileRightSidebar)="onToggleMobileRightSidebar($event)" [pageSidebarTwo]="pageSettings.pageSidebarTwo" *ngIf="!pageSettings.pageEmpty"></header>

  <sidebar (toggleSidebarMinified)="onToggleSidebarMinified($event)" (hideMobileSidebar)="onHideMobileSidebar($event)" *ngIf="!pageSettings.pageWithoutSidebar && !pageSettings.pageEmpty" [pageSidebarTransparent]="pageSettings.pageSidebarTransparent"></sidebar>


  <div id="content" class="content" [ngClass]="{
    'content-full-width': pageSettings.pageContentFullWidth,
    'content-inverse-mode': pageSettings.pageContentInverseMode,
    'p-0 m-0': pageSettings.pageEmpty
  }" style="background: #d9e0e7;">
  <div class="panel panel-inverse" *ngIf="tableflag == true">
          <!-- begin panel-heading -->
          <div class="panel-heading">
              <!-- <div class="panel-heading-btn">
                  <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                  <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                  <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                  <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div> -->
              <h4 class="panel-title">Table Striped</h4>
          </div>
          <!-- end panel-heading -->
          <!-- begin panel-body -->
          <div class="panel-body">
              <!-- begin table-responsive -->
              <div class="table-responsive">
                  <table  class="table table-striped m-b-0">
                      <thead>
                          <tr>
                              <th>S.N.</th>
                              <th>Mobile Number</th>
                              <th>Insurance Type</th>
                              <th>Insurance Provider</th>
                              <th>Documents</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let data of dataSource._renderData._value;let i = index;">
                              <td style="cursor: pointer;" (click)="showadd(data)">
                {{ (i+1) + (myPaginator.pageIndex * myPaginator.pageSize) }}</td>
                              <td  style="cursor: pointer;" (click)="showadd(data)">{{data.user.mobileNo}}</td>
                              <td  style="cursor: pointer;" (click)="showadd(data)">{{data.external_entity_type.entityType}}</td>
                              <td  style="cursor: pointer;" (click)="showadd(data)">{{data.external_entity_name.entityName}}</td>
                              <td><button mat-icon-button
                (click)="open(mymodal,data.documentPath)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button
                (click)="open1(mymodal1,data)">
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <!-- <tr>
                              <td>2</td>
                              <td>0123456897</td>
                              <td>Term Life</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>0123456897</td>
                              <td>Home</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>0123456897</td>
                              <td>Car</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>0123456897</td>
                              <td>Two Wheeler</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>6</td>
                              <td>0123456897</td>
                              <td>Whole Life</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>7</td>
                              <td>0123456897</td>
                              <td>ULIP</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>8</td>
                              <td>0123456897</td>
                              <td>Fire</td>
                              <td>Cholamandalam MS General</td>
              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr>
                          <tr>
                              <td>9</td>
                              <td>0123456897</td>
                              <td>Personal Accident</td>
                              <td>Cholamandalam MS General</td>
                              <td><button mat-icon-button
                (click)="open(mymodal)">
               <mat-icon>image</mat-icon>
             </button></td>
                              <td><button mat-icon-button>
               <mat-icon>delete</mat-icon>
             </button> </td>
                          </tr> -->
                      </tbody>
                  </table>
        <div *ngIf="isErrorMessage">
          <br/>
             <h6 align="center">{{errorMessage}}</h6>
           </div>
        <div [style.visibility]="loading ? 'hidden':'visible'">
         <mat-paginator #myPaginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
       </div>
              </div>
              <!-- end table-responsive -->
          </div>
          <!-- end panel-body -->
          <!-- begin hljs-wrapper -->
          <!-- end hljs-wrapper -->
      </div>
   
  </div>

</div>

<ng-template #mymodal let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Document</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div >
      <!-- {{urlformodel}} -->
      <!-- <ngx-image-zoom
              [thumbImage]=urlformodel
              
              [zoomMode]="hover"
              [magnification]="2"
          ></ngx-image-zoom> -->
      <img src="{{urlformodel}}" style="width: 100%;">
    </div>
  </div>
</ng-template>

<ng-template #mymodal1 let-modal>
  <div class="modal-body">
    <div>
      Do you confirm the deletion of this data?
    </div>
    <!-- <div style="display: flex;margin-top: 10px;">
      <button type="button" style="background: white;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      margin-right: 10px;
      padding: 15px;
      padding-top: 5px;
      padding-bottom: 5px;" (click)="JoinAndClose()">Yes</button>
      <button type="button" style="background: white;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      padding: 15px;
      padding-top: 5px;
      padding-bottom: 5px;" (click)="JoinAndClose1()">No</button>
    </div> -->
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-white" (click)="JoinAndClose1()">No</button>
    <a href="javascript:;" class="btn btn-success" (click)="JoinAndClose()">Yes</a>
  </div>
</ng-template>

<div *ngIf="loading">
  <div id="page-loader" class="fade show"><span class="spinner"></span></div>
</div>
<!-- end #page-container -->
