<!-- begin #header -->
<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <ng-container *ngIf="this.pageSidebarTwo">
      <button type="button" class="navbar-toggle pull-left" (click)="mobileSidebarToggle()">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<button type="button" class="navbar-toggle pull-right" (click)="mobileRightSidebarToggle()">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
    </ng-container>
    <a href="/" class="navbar-brand">
      <img src="../../../assets/img/logo/Logo Full.png" style="height: 35px;"></a>
    <button type="button" class="navbar-toggle" (click)="mobileSidebarToggle()" *ngIf="!this.pageSidebarTwo">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- end navbar-header -->

  <!-- begin header-nav -->
  <ul class="navbar-nav navbar-right">
    <!-- <li>
      <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter keyword" />
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li>
    <li class="dropdown" ngbDropdown>
      <a href="javascript:;" ngbDropdownToggle class="dropdown-toggle f-s-14">
        <i class="fa fa-bell"></i>
        <span class="label">5</span>
      </a>
      <ul class="dropdown-menu media-list dropdown-menu-right" ngbDropdownMenu>
        <li class="dropdown-header">NOTIFICATIONS (5)</li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-bug media-object bg-silver-darker"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
              <div class="text-grey-darker f-s-11">3 minutes ago</div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <img src="../assets/img/user/user-1.jpg" class="media-object" alt="" />
              <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading">John Smith</h6>
              <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
              <div class="text-grey-darker f-s-11">25 minutes ago</div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <img src="../assets/img/user/user-2.jpg" class="media-object" alt="" />
              <i class="fab fa-facebook-messenger text-primary media-object-icon"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading">Olivia</h6>
              <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
              <div class="text-grey-darker f-s-11">35 minutes ago</div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-plus media-object bg-silver-darker"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading"> New User Registered</h6>
              <div class="text-grey-darker f-s-11">1 hour ago</div>
            </div>
          </a>
        </li>
        <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-envelope media-object bg-silver-darker"></i>
              <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading"> New Email From John</h6>
              <div class="text-grey-darker f-s-11">2 hour ago</div>
            </div>
          </a>
        </li>
        <li class="dropdown-footer text-center">
          <a href="javascript:;">View more</a>
        </li>
      </ul>
    </li> -->
    <li class="dropdown navbar-user" ngbDropdown>
      <a href="javascript:;" class="dropdown-toggle" ngbDropdownToggle>
        <!-- <img src="/assets/img/user/user-13.jpg" alt="" /> -->
        <span class="d-none d-md-inline">{{firstname}} {{lastName}}</span> <b class="caret"></b>
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
        <!-- <a href="javascript:;" class="dropdown-item">Edit Profile</a>
        <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
        <a href="javascript:;" class="dropdown-item">Calendar</a>
        <a href="javascript:;" class="dropdown-item">Setting</a> -->
        <!-- <div class="dropdown-divider"></div> -->
        <a href="javascript:;" class="dropdown-item" (click)="open1(mymodal1)">Log Out</a>
      </div>
    </li>
    <li class="divider d-none d-md-block" *ngIf="this.pageSidebarTwo"></li>
    <li class="d-none d-md-block" *ngIf="this.pageSidebarTwo">
      <a href="javascript:;" (click)="toggleSidebarRight()" class="f-s-14">
        <i class="fa fa-th"></i>
      </a>
    </li>
  </ul>
  <!-- end header navigation right -->
</div>
<!-- end #header -->

<ng-template #mymodal1 let-modal>
  <div class="modal-body">
    <div>
      Do you wish to logout?
    </div>
    <!-- <div style="display: flex;margin-top: 10px;">
      <button type="button" style="background: white;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      margin-right: 10px;
      padding: 15px;
      padding-top: 5px;
      padding-bottom: 5px;" (click)="JoinAndClose()">Yes</button>
      <button type="button" style="background: white;
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      padding: 15px;
      padding-top: 5px;
      padding-bottom: 5px;" (click)="JoinAndClose1()">No</button>
    </div> -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-white" (click)="JoinAndClose1()">No</button>
    <a href="javascript:;" class="btn btn-success" (click)="JoinAndClose()">Yes</a>
  </div>
</ng-template>
